<div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card shadow p-3 bg-body-tertiary h-100">
          <a routerLink="user-list">
            <img src="../../../../assets/img/userlist.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6>Users</h6>
              <p class="card-text">View all users</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card shadow p-3 bg-body-tertiary h-100">
          <a routerLink="new-pass-list">
            <img src="../../../../assets/img/img4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6>New Passport Applications</h6>
              <p class="card-text">View passport applications</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card shadow p-3 bg-body-tertiary h-100">
          <a routerLink="re-newpass-list">
            <img src="../../../../assets/img/img4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6>Re-New Passport Applications</h6>
              <p class="card-text">View passport applications</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card shadow p-3 bg-body-tertiary h-100">
          <a routerLink="user-feedback">
            <img src="../../../../assets/img/Feedback Illustration.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6>User Feedback</h6>
              <p class="card-text">View Feedback</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card shadow p-3 bg-body-tertiary h-100">
          <a routerLink="user-complaints">
            <img src="../../../../assets/img/img4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6>User Complaints</h6>
              <p class="card-text">View Complaints</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  